*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Source Code Pro', monospace;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col{
  flex-direction: column;
  align-items: stretch;
}

.space-around{
  justify-content: space-around;
}

.wrapper{
  height: 100vh;
  width: 100%;
  background-color: #b91450;
}

h1{
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.card-top,
.card-bottom {
  background-color: white;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 0px rgb(56, 56, 56);
}

.user-input{
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.input{
  width: calc(100% / 3);
}

.card-top input{
  padding: 1rem;
  width: 100%;
  border-radius: 15px;
  border: 2px solid #b91450;
  box-shadow: 0px 0px 5px 0px rgb(186, 186, 186);
}

label{
  color: #b91450;
  font-weight: bold;
  margin: .25rem .5rem;
}

button{
  margin: .5rem;
  padding: .5rem .75rem;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #b91450;
}

.ticket{
  border: 2px solid gray;
  width: 100%;
  margin: 1rem 2rem;
  justify-content: flex-start;
}

.detail-1{
  background-color: gray;
  color: white;
  padding: 1rem;
}

.detail-2{
  padding: 1rem;
  margin: 0 1rem;
}


